@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-brand, .navbar-text {
    font-family: "Pacifico", cursive;
     color: black;  /* С цветом нужно поиграть */
}
/* .navbar {
    background-color: rgb(240, 238, 238);
} */
.header__text{
    text-align: center;
    padding-top: 50px;
}
.header__text {
    font-family: "Pacifico", cursive;
    /* text-shadow: 4px 4px 6px rgba(66, 68, 90, 1); */
}
.header__paragraph {
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
}
.tab-contents {
    display: none;

}
.tab-contents.active {
    display: flex;
}
.nav-link.active {
    /* color: blue !important; */
    text-decoration: underline;
}
#our {
    margin-top: 20px;
}
.card {
    margin-right: 10px;
    background-color: transparent;
    border: none;
}
.line {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    max-width: 800px;
    background-color: rgb(116, 114, 114);
}
.sec-2 {
    margin-bottom: 50px;
}
.container {
    background-image: url("/img/test/pexels-codioful-6984992.jpg");
    background-size: cover;

}
.card-img-top, .d-block {
    border-radius: 30px;
}